In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv(r'C:\Users\Legion\Downloads\AirPassengers.csv',parse_dates=['Month'], index_col='Month')

In [6]:
q75 = np.percentile(data['Passengers'],75)
q25 = np.percentile(data['Passengers'],25)
iqr = q75 - q25
print(iqr)

180.5

In [7]:
data[data['Passengers']>1.5*iqr]

            Passengers
Month
1953-08-01         272
1954-07-01         302
1954-08-01         293
1955-06-01         315
1955-07-01         364
1955-08-01         347
1955-09-01         312
1955-10-01         274
1955-12-01         278
1956-01-01         284
1956-02-01         277
1956-03-01         317
1956-04-01         313
1956-05-01         318
1956-06-01         374
1956-07-01         413
1956-08-01         405
1956-09-01         355
1956-10-01         306
1956-11-01         271
1956-12-01         306
1957-01-01         315
1957-02-01         301
1957-03-01         356
1957-04-01         348
1957-05-01         355
1957-06-01         422
1957-07-01         465
1957-08-01         467
1957-09-01         404
...                ...
1958-07-01         491
1958-08-01         505
1958-09-01         404
1958-10-01         359
1958-11-01         310
1958-12-01         337
1959-01-01         360
1959-02-01         342
1959-03-01         406
1959-04-01         396
1959-05-01         420
1959-06-01         472
1959-07-01         548
1959-08-01         559
1959-09-01         463
1959-10-01         407
1959-11-01         362
1959-12-01         405
1960-01-01         417
1960-02-01         391
1960-03-01         419
1960-04-01         461
1960-05-01         472
1960-06-01         535
1960-07-01         622
1960-08-01         606
1960-09-01         508
1960-10-01         461
1960-11-01         390
1960-12-01         432

[69 rows x 1 columns]

In [8]:
# import the necessary library
from sklearn.cluster import KMeans
# initialize the clustering function
km = KMeans(n_clusters=4)

In [9]:
# fit the data (learn)
km.fit(data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [10]:
# make preditctions (clustering) 
km.predict(data)

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 2, 2,
       2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 0, 0, 0, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 3, 3,
       3, 0, 0, 0, 0, 0, 3, 3, 3, 3, 1, 1, 3, 3, 0, 3, 3, 0, 3, 3, 3, 3, 1,
       1, 3, 3, 0, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 1, 1, 1,
       1, 1, 1, 1, 3, 3])